<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <script src="https://unpkg.com/htmx.org@1.4.1"></script>
    <title>Extinguish | {% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body class="d-flex flex-column h-100">
	<nav class="navbar navbar-dark bg-primary">
		<div class="container-fluid">
			<a href="{{url_for('index')}}"><span class="navbar-brand mb-0">Extinguish</span></a>
		</div>
	</nav>
    <div id="content">{% block content %}{% endblock %}</div>
    <footer class="footer mt-auto py-3 bg-light fixed-bottom" style="padding: 0 15px;">
        {% block footer %}
        &copy; Sample Copyright By <a href="http://domain.invalid/">you</a>.
        {% endblock %}
    </footer>
</body>
</html>